.cl-navbar {
    padding: 15px 40px;
    display: flex;
    align-items: center;
    height: 60px;
    background-color: #F2FBFC;
}

.cl-navbar h1 {
    margin: 0;
    display: inline-block;
}

.cl-navbar ul li {
    
    display: inline-block;
    box-sizing: border-box;
    padding: 10px;
    color: #000;
    position: relative
}

.cl-navbar .acoes {
    margin-left: auto;
}

.cl-navbar .nomeempresa {
    padding-left: 40px;
    color: #04A7C3;
    font-size: 40px;
    font-weight: 800;
}

.cl-navbar .login {
    color: #04A7C3;
    font-size: 20px;
    font-weight: 800;
}